.customersSaySection {
  background-color: var(--color-primary-500);
  color: var(--color-white);
  padding: 5rem 0 7rem 0;
}

.customersSayContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 2rem;
  row-gap: 3rem;
}
