.specialsSection {
  padding: 5rem 0 7rem 0;
}

.specialsContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.specialsInto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.specialsCollection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 2rem;
  row-gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .specialsSection {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .specialsSection {
    padding-top: 7.5rem;
  }
}
